# ignore api.env file
/api.env
# ignore .spacemacs.env file (there's some API keys in there)
/.spacemacs.env
# ignore musikcube shit
/.config/musikcube/1/
/.config/musikcube/cache/
/.config/musikcube/log.txt
/.config/musikcube/stderr.txt
/.config/musikcube/session.json
# ignore keepkit shit
/.config/keepkit/logs/
/.config/keepkit/cache.json
# ignore project-manim
/project-manim/
# ignore display3d
/display3d/
