simplified_ui false
pane_frames true

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left                "{mode} #[fg=bright_black]󰇘 {tabs} #[fg=bright_black]󰇘 #[fg=green]{swap_layout}"
                format_center              "#[fg=bright_black]󰇘 #[fg=cyan]{session} #[fg=bright_black]󰇘"
                format_right               "#[fg=green]{command_git_branch} #[fg=bright_black]󰇘 #[fg=blue]{datetime}"
                format_space               "#[fg=yellow] "
                hide_frame_for_single_pane "false"
                border_enabled             "false"
                mode_normal                "#[fg=yellow]NORMAL  "
                mode_locked                "#[fg=red]LOCKED  "
                mode_tmux                  "#[fg=cyan]TMUX  "
                mode_resize                "#[fg=red]RESIZE 󰩨 "
                mode_pane                  "#[fg=cyan]PANE  "
                mode_tab                   "#[fg=cyan]TAB 󰓩 "
                mode_scroll                "#[fg=green]SCROLL 󰡏 "
                mode_enter_search          "#[fg=blue]{name}  "
                mode_search                "#[fg=blue]SEARCH  "
                mode_rename_tab            "#[fg=red]{name} 󰑕 "
                mode_rename_pane           "#[fg=red]{name} 󰑕 "
                mode_session               "#[fg=green]SESSION  "
                mode_move                  "#[fg=red]MOVE  "
                mode_prompt                "#[fg=green]PROMPT  "

                // formatting for inactive tabs
                tab_normal                 "#[fg=bright_black]{name}"
                tab_normal_fullscreen      "#[fg=bright_black]{name}"
                tab_normal_sync            "#[fg=bright_black]{name}"

                // formatting for the current active tab
                tab_active                 "#[fg=cyan]{name}#[fg=yellow]{floating_indicator}"
                tab_active_fullscreen      "#[fg=yellow]{name}#[fg=yellow]{fullscreen_indicator}"
                tab_active_sync            "#[fg=green]{name}#[fg=yellow]{sync_indicator}"

                // separator between the tabs
                tab_separator              " "

                // format when renaming a tab
                tab_rename                 "#[fg=red] {index} {name} {floating_indicator} "

                // indicators
                tab_sync_indicator         "  "
                tab_fullscreen_indicator   "  "
                tab_floating_indicator     " 󰉧 "

                command_git_branch_command     "git branch --show-current"
                command_git_branch_format      "{stdout} #[fg=cyan] "
                command_git_branch_interval    "1"
                command_git_branch_rendermode  "static"

                // limit tab display count
                tab_display_count          "3"  // limit to showing 3 tabs
                tab_truncate_start_format  "#[fg=red,bg=black] < + {count} ..."
                tab_truncate_end_format    "#[fg=red,bg=black] ... + {count} >"

                datetime                   "#[fg=blue]{format}"
                datetime_format            "%A, %d %b %Y %H:%M"
                datetime_timezone          "Europe/Luxembourg"
            }
        }
    }
    tab name="tab 1" focus=true borderless=false
    tab name="tab 2"
    tab name="tab 3"
}
