/* Main Config - emoji */

@import "~/.config/rofi/config.rasi"

/* ---- Entry ---- */
entry {
  width: 25%;
  placeholder: " 💫 Search Emojis (<ctrl-v> to paste)";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
