/* Main Config - For Keybinds generation */

@import "~/.config/rofi/master-config.rasi"

/* ---- Entry ---- */
entry {
  width: 10%;
  placeholder: " 🧮 Search Keybindings ";
}

/* ---- Listview ---- */
listview {
  columns: 2;
  lines: 12;
}

window {
    width: 75%;
}
