/* Clipboard Config - Clipboard */

@import "~/.config/rofi/config.rasi"

/* ---- Entry ---- */
entry {
  width: 25%;
  placeholder: " 🧮 Search Clipboard ☣️ NOTE ☣️ CTRL Del - Cliphist del or ALT Del - Cliphist wipe";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
