/* Main Config Calculator */
/* Submitted by: https://github.com/JosephArmas */

@import "~/.config/rofi/config.rasi"

/* ---- Entry ---- */
entry {
  width: 5%;
  placeholder: " 🧮 Calculate";
}

/* ---- Window ---- */
window {
    width:	20%;
    x-offset: 12px;
    location: north;
}

/* ---- Message ---- */
textbox {
    background-color: @selected;
    text-color: @background;
}
