/* Rofi Config for Google Search) */

@import "~/.config/rofi/config.rasi" 

/* ---- Window ---- */
window {
	width: 40%;
    x-offset: 12px;
    location: north;
}

/* ---- Inputbar ---- */
inputbar {
    enabled: true;
}

/* ---- Mainbox ---- */
mainbox {
	padding: 0px;
    children: [ "entry"];
}

/* ---- Entry ---- */ 
entry {
	placeholder: "🔎 Google Search";
}

