/* Main Config 1440p */

@import "~/.config/rofi/master-config.rasi"

/* ---- Configuration ---- */
configuration {
	  font:	"Veteran Typewriter 12";
}
/* ---- Window ---- */
window {
    width:	55%;
}

/* ---- Entry input ---- */
entry {
    width:	25%;
}

/* ---- Listview ---- */
listview {
    lines:	10;
}

/* ---- Mode Switcher ---- */
button {
    width:	110px;
}

element-text {
    font:	"Veteran Typewriter 14";
}

