/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Configuration ---- */
configuration {
	  font: "zai Courier Polski 1941 10";
}

element-text {
    font:	"zai Courier Polski 1941 12";
}

