/* Tab-Stash - Alter Sidebar body background color */
@-moz-document url-prefix("moz-extension://0eb46baa-2afb-4269-a6dd-dc9469e34222")
{
  body {
    --page-bg: black !important;
  }
}

/* Change selected text color */
::selection {
  background: #292e42 !important;
  color: #a4daff !important;
}

/* Change input-field accent color */
@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!blank).*"), url("about:blank") {
  * {
    --color-accent-primary: #bb9af7 !important;
    --color-accent-primary-hover: #bb9af7 !important;
    --color-accent-primary-active: #bb9af7 !important;
  }
}
