/* Tab-Stash - Alter Sidebar body background color */
@-moz-document url-prefix("moz-extension://0eb46baa-2afb-4269-a6dd-dc9469e34222")
{
  body {
    --page-bg: black !important;
  }
}

/* Change selected text color */
::selection {
  background: #292e42 !important;
  color: #a4daff !important;
}
